services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres-studs
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - BLSS-labs
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 30s
      timeout: 10s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: "v.amuz@gmail.com"
      PGADMIN_DEFAULT_PASSWORD: "1488"
      PGADMIN_CONFIG_SERVER_MODE: "False"
    ports:
      - "6980:80"
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - BLSS-labs

volumes:
  postgres_data:
  pgadmin_data:

networks:
  BLSS-labs:
    driver: bridge